$bg-color: #f4fad2f8;
$dark-blue-color: #0b2350;
$lite-blue-color: #305eac;
$bg-blue-color: #004aad;
$gold-color: #b6922e;
$bg-opacity: rgb(255, 255, 255, 0.7);

html,
body {
  padding: 0;
  margin: 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background: $dark-blue-color;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  opacity: 1;
  visibility: visible;
  &.done {
    opacity: 0;
    visibility: hidden;
  }
}

.lds-roller,
.lds-roller + p {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.lds-roller {
  & + p {
    top: 60%;
    left: 48%;
    text-align: center;
  }
}

.dot-1,
.dot-2,
.dot-3 {
  animation: blink 0.5s infinite;
  -webkit-animation: blink 0.5s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot-2 {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

.dot-3 {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input,
textarea {
  color: $bg-color;
  font-size: 18px;
}

p,
li {
  font-size: 20px;
}

img {
  max-width: 100%;
}

.wrapper-light,
html {
  background: $bg-color;
}

.wrapper-dark {
  background: $dark-blue-color;
}

%wrapper-blue {
  background-color: $lite-blue-color;
}

.modal .modal-footer {
  @extend %wrapper-blue;
}

nav {
  background: $lite-blue-color;
  @media screen and (max-width: 600px) {
    height: 65px;
  }
}

.lite-blue-text {
  color: $lite-blue-color;
}

.large-text {
  font-size: 50px;
  @media screen and (max-width: 520px) {
    font-size: 30px;
  }
}

.big-text {
  font-size: 30px;
}

.medium-text {
  font-size: 25px;
}

.little-text {
  font-size: 15px;
}

.fixed {
  position: fixed;
  z-index: 998;
  top: 0;
}

.material-icons {
  color: $dark-blue-color;
}

.brand-logo img {
  width: 70px;
  padding: 5px 0;
  margin: 0 10px;
}

.encircle {
  text-shadow: -3px -1px 2px rgba(255, 255, 255, 1);
}

.first-caption {
  margin: 0;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: $dark-blue-color;
  font-family: "Alfa Slab One", cursive;
  &:first-child {
    margin-top: 10px;
  }
}

.second-caption {
  @extend .first-caption;
  color: $gold-color;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Frank Ruhl Libre", serif;
}

.about-brand {
  text-align: center;
}

.about-brand-first-caption {
  @extend .first-caption;
  font-size: 70px;
  @media screen and (max-width: 1000px) and (min-width: 600px) {
    font-size: 35px;
  }
  @media screen and (max-width: 600px) and (min-width: 400px) {
    font-size: 50px;
  }
  @media screen and (max-width: 400px) {
    font-size: 35px;
  }
}

.about-brand-second-caption {
  @extend .second-caption;
  font-size: 40px;
}

.about-text-first-caption {
  @extend .about-brand-first-caption;
  font-family: "Open Sans", sans-serif;
}

.about-text-second-caption {
  @extend .about-brand-second-caption;
  font-family: "Open Sans", sans-serif;
  @media screen and (max-width: 400px),
    (max-width: 770px) and (min-width: 600px) {
    font-size: 30px;
  }
}

.mt-30 {
  margin-top: 30px;
}

.no-margin {
  margin: 0;
}

.frame {
  border: 7px solid $dark-blue-color;
  > p {
    margin: 10px 0;
  }
}

.frame-lite {
  @extend .frame;
  border: 7px solid $bg-color;
}

.caption-lite {
  text-transform: uppercase;
  color: $bg-color;
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}

a.caption-lite {
  @extend .caption-lite;
  font-size: 20px;
}

.caption-dark {
  @extend .caption-lite;
  color: $dark-blue-color;
}

.caption-gold {
  @extend .caption-lite;
  color: $gold-color;
}

.frame-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 40px 100px;
  @media screen and (max-width: 900px) {
    padding: 40px 60px;
  }
}

.padding-10 {
  padding: 10% 0;
}

.wrapper-teachers {
  background: url(img/bg-teachers.png) center center;
}

.bg-white-substrate {
  background: $bg-opacity;
}

.caption-blue {
  @extend .caption-lite;
  color: $lite-blue-color;
}

.bold {
  font-weight: 900;
}

#learning {
  text-align: center;
}

.join-us {
  @extend #learning;
  p {
    color: $bg-color;
    text-transform: uppercase;
    font-size: 20px;
  }
}

#online .frame {
  @media screen and (max-width: 992px) {
    margin-top: 300px;
  }
}

.online-img {
  width: 100%;
  background: url(./img/onlineimg.jpg) no-repeat center center;
  background-size: cover;
  height: 900px;
}

.online-list {
  max-width: 100%;
  width: 605px;
  text-align: left;
  @media screen and (max-width: 992px) {
    display: inline-block;
  }
}

.text-center {
  text-align: center;
}

.list-box li {
  font-size: 20px;
  margin: 7px 0;
}

.list-box li .material-icons {
  width: 50px;
  text-align: right;
  margin-right: 10px;
}

.callback {
  position: fixed;
  bottom: 200px;
  right: 40px;
}

.learning-icons {
  position: relative;
  width: 125px;
  height: 124px;
  margin: 0 auto;
}

.learning-icons-text {
  font-size: 20px;
  font-weight: bold;
}

%learn-icons {
  @extend.learning-icons;
  position: absolute;
  left: 50%;
  //margin-left: -50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.group-icon {
  @extend %learn-icons;
  bottom: 20px;
  background: url(./img/group-img.png);
  height: 110px;
}

.calendar-icon {
  @extend %learn-icons;
  background: url(./img/calendar-img.png);
  height: 110px;
}

.clock-icon {
  @extend %learn-icons;
  background: url(./img/clock-img.png);
}

.money-icon {
  @extend %learn-icons;
  background: url(./img/money-img.png);
  height: 105px;
}

.bg-white-with-symbols {
  background: url(./img/bg-white.png) repeat-x center center;
}

.bg-blue-with-symbols {
  background: url(img/bg-blue.png) repeat-x center center;
}

.question {
  font-size: 20px;
  color: $bg-color;
}

.badge {
  background: $bg-color;
}

.text-lite {
  @extend .question;
  font-weight: bold;
}

.text-blue {
  @extend .text-lite;
  color: $lite-blue-color;
}

.caps {
  text-transform: uppercase;
  font-size: 22px;
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 100% 0;
  @media screen and (max-width: 992px) {
    padding: 5% 0;
  }
  @media screen and (max-width: 500px) {
    padding: 25% 0;
  }
}

.white-text {
  color: $bg-color;
}

.discount-img {
  @extend .online-img;
  background-image: url(/img/discountimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blue {
  background-color: $bg-blue-color;
}

.relative {
  position: relative;
}

.rectangle {
  position: absolute;
  padding: 19%;
  top: 160px;
  right: -100px;
  @media screen and (max-width: 992px) {
    position: static;
  }
}

.line-break-blue {
  width: 100%;
  @extend .no-margin;
  height: 1px;
  border: solid 3px $lite-blue-color;
}

.line-break-lite {
  @extend .line-break-blue;
  border: solid 3px $bg-color;
}

.line-break {
  @extend .line-break-blue;
  border: none;
}

.page-footer {
  background: $lite-blue-color;
}

.links {
  position: relative;
}

.social-link + span {
  position: absolute;
  left: 0;
  top: 24px;
  opacity: 0;
  font-size: 30px;
  font-weight: bold;
}
.social-link {
  &::before {
    font-size: 45px;
  }
  &:hover + span {
    animation-name: move-n-show;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    @keyframes move-n-show {
      from {
        top: 5px;
        opacity: 0;
      }
      to {
        top: 30px;
        opacity: 1;
      }
    }
  }
  &:hover {
    animation-name: change-bg-color;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    @keyframes change-bg-color {
      from {
        color: $bg-color;
      }
      to {
        color: $gold-color;
      }
    }
  }
}

.social-links-block li,
.continue-btn {
  display: inline-block;
}

.modal.modal-fixed-footer .modal-content {
  height: auto;
}

.btn {
  margin: 5px auto;
  height: auto;
}

.modal {
  width: 30%;
  max-height: none;
  @media screen and (max-width: 992px) {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    top: 0 !important;
  }
}

.modal-close {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  &:after {
    content: "âŒ";
  }
}

#callback-form {
  max-width: 500px;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $lite-blue-color;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

#toast-container {
  z-index: 10000;
  top: 70% !important;
  right: 50% !important;
  width: 300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(50%, -70%);
  -webkit-transform: translate(50%, -70%);
  -moz-transform: translate(50%, -70%);
  -ms-transform: translate(50%, -70%);
  -o-transform: translate(50%, -70%);
  -webkit-transform: translate(50%, -70%);
  @media screen and (min-width: 1280px) {
    top: 40% !important;
    transform: translate(50%, -40%);
    -webkit-transform: translate(50%, -40%);
    -moz-transform: translate(50%, -40%);
    -ms-transform: translate(50%, -40%);
    -o-transform: translate(50%, -40%);
  }
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: $lite-blue-color;
}

sup {
  color: red;
  text-align: right;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $dark-blue-color;
}

.dropdown-content {
  background-color: $bg-color;
}

@media screen and (max-width: 1144px) {
  nav a.sidenav-trigger {
    display: block;
  }

  #nav-mobile {
    display: none;
  }
}
